.thick-color-border{
    border-color: aqua;
    border-style: groove;
    border-width: thick;
    border-radius: 50%
}

h1{   
    text-shadow: 3px 3px 3px blue;
    font-family: 'Supermercado One', cursive;
    font-size:80;
    text-align: center;
}

h2{
    line-height: 3;
    letter-spacing: 4px;
    font-size: auto;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

h3{
    line-height: 1;
    text-align: center;
    font-family: 'Supermercado One', cursive;
}

p{
    font-family: 'Supermercado One', cursive;
}

img {
    display: block;
    margin:  auto;
}

body {
    width: 500px;
    margin: 0 auto;
    background-color: #6A65D8;
    padding: 0 20px 20px 20px;
    border: 9px solid #A0204C;
}
html{
    width: 800px;
    margin: 0 auto;
    background-color: #F0CA6D;
}